.login {
  animation-name: slideInLeft;
  animation-delay: 0.2s;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  max-width: 560px;
  opacity: 0;
  overflow: hidden;
  padding: 20px 0 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100vw;
  @include bp('sm') {
    max-width: 90vw;
  }


  @include el('form') {
    display: inline-block;
    height: 620px;
    left: 0;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateX(0);
    transition: all 0.5s $cubic-ease-in-out;
    width: 500px;
    @include bp('sm') {
      height: 100vh;
      overflow-y: visible !important;
      overflow-x: hidden;
      width: calc(90vw - 60px);
    }

    @include mod('hide') {
      background-color: $biscay;
      color: $aqua !important;
      margin: 0;
      top: -114px;
      transform: translateX(0) !important;
      width: 50px !important;

      & .login__btn {
        color: $aqua;
        padding: 15px 0;
        transform: rotate(-90deg) scale(1.25);
      }

      & div:not([class$="--rotator"]) {
        opacity: 0;
      }

    }
  }

  @include el('row') {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 500px;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    &:first-child {
      margin: 10px 0 80px;
    }
    @include bp('sm') {
      margin: 20px 0;
    }
  }

  @include el('icon') {
    animation-name: slideInRight;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: $cubic-ease-in-out;
    box-sizing: content-box;
    padding: 8px;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  @include el('field') {
    background: transparent;
    border: none;
    border-bottom: solid 2px $astronaut;
    color: $astronaut;
    font-size: 36px;
    font-weight: 300;
    max-width: 500px;
    transition: border-bottom-color 0.3s ease-in-out;
    width: 100%;
    &:focus {
      border-bottom-color: $aqua;
      box-shadow: 0;
      outline: 0;
    }
    &::placeholder {
      color: transparentize($biscay, 0.7);
      font-family: $helvetica;
      font-weight: 100;
    }
    @include bp('md') {
      max-width: none;
    }
    @include bp('sm') {
      font-size: 32px;
      padding: 8px 12px 8px 2px;
    }
    @include bp('xs') {
      font-size: 26px;
      padding: 8px 12px 8px 2px;
    }
  }

  @include el('btn') {
    background: $biscay;
    border: 0;
    color: $aqua;
    cursor: pointer;
    display: block;
    font-family: 'Montserrat', system-ui, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    padding: 15px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.45s $cubic-ease-in-out;
    &:hover, &:focus, &:active {
      color: $aqua;
    }
    &:disabled {
      background: $silver;
      color: $white;
    }
    @include bp('sm') {
      margin: 18px auto 0;
    }
  }

  @include el('button') {
    align-items: center;
    background: $biscay;
    border: 0;
    color: $aqua;
    cursor: pointer;
    display: inline-flex;
    font-size: 24px;
    font-weight: 300;
    height: 46px;
    justify-content: center;
    margin: 0 auto;
    min-width: 146px;
    padding: 4px 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $astronaut;
    }
    &:focus, &:active {
      background: $aqua;
      color: $biscay;
      outline: none;
    }
  }
}
