* {
  box-sizing: border-box;
  &:focus, &:active {
    outline: 0;
  }
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("Montserrat.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("MontserratSemiBold.ttf");
}

body {
  font-family: $helvetica;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.gradient {
  background: linear-gradient(to bottom, $white 0%,$white 75%, $gray 100%);
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
