// Primary theme colors
// Color names from http://chir.ag/projects/name-that-color
$aqua: #69ffbd;
$astronaut: #234871;
$biscay: #1b2f5a;
$gray: #d9d9d9;
$silver: #a1a1a1;
$white: #fff;
$red: #ec3f41;
$green: #3fb236;

// Fonts
$helvetica: Helvetica, Arial, system-ui, sans-serif;

// Easing Functions
$cubic-ease-in-out: cubic-bezier(.65,.05,.36,1);
$elastic-ease: cubic-bezier(0.68, -0.55, 0.27, 1.55);
