# Arizen's Travis CI build script for building Linux, MacOS, and Windows release.

notifications:
  email: false

dist: trusty
osx_image: xcode9.2
language: c
sudo: required

git:
  depth: 10

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/
    - development
    - master
env:
  global:
    # TODO Update this to match the name of your project.
    - PROJECT_NAME=arizen

matrix:
  include:
  - os: osx
    env: TARGET_ARCH=x64
  - os: windows
    env: TARGET_ARCH=x64
  - os: linux
    env: CC=clang CXX=clang++ npm_config_clang=1 TARGET_ARCH=x64
    compiler: clang

cache:
  directories:
  - node_modules
  - app/node_modules
  - "$HOME/.electron"
  - "$HOME/.cache"

addons:
  apt:
    packages:
    - graphviz
    - libgnome-keyring-dev
    - icnsutils

before_install:
  - ./ci/before_install.sh

install:
  - nvm install 6
  - ./ci/install.sh

script:
  - ./ci/script.sh

after_script:
  # - set +e

before_deploy:
  # - sh ci/before_deploy.sh

# deploy:
  # TODO update `api_key.secure`
  # - Create a `public_repo` GitHub token. Go to: https://github.com/settings/tokens/new
  # - Encrypt it: `travis encrypt 0123456789012345678901234567890123456789
  # - Paste the output down here
  #api_key:
  #  secure: A9v3PIzQQ4U08
  #file_glob: true
  #file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  #on:
    # TODO Here you can pick which targets will generate binary releases
    # In this example, there are some targets that are tested using the stable
    # and nightly channels. This condition makes sure there is only one release
    # for such targets and that's generated using the stable channel
  #  condition: $TRAVIS_RUST_VERSION = stable
  #  tags: true
  #provider: releases
  #skip_cleanup: true

# cache: cargo
# before_cache:
  # Travis can't cache files that are not readable by "others"
  # - chmod -R a+r $HOME/.cargo
