#btWallet {
    font-size: 0.7em;
}

.btWalletButtonClass {
    margin-top: 0;
    padding: 5px 15px;
    width: 25%;
    margin-left: 40%;
    font-size: 0.8em;
}

.btWalletButtonClass:hover {
    width: 25%;
    font-size: 0.8em;
}

.btWalletButtonClass:active {
    width: 25%;
    font-size: 0.8em;
}

.btWalletButtonClass:focus {
    width: 25%;
    font-size: 0.8em;
}

.marginLeft5p {
    margin-left: 5%;
    color: #1B2F59;
}

#btWalletFilename {
    margin-left: 5%;
    margin-right: 5%;
    color: #1B2F59;
    font-size: 0.8em;
    border-bottom: 1px solid #61b884;
}

#have_previous_backup {
    display: none;
}

#old_username_area {
    display: none;
    font-size: 0.8em;
}

#old_pswd_area {
    display: none;
}

.inputs_small {
    padding: 3px 3px;
    border: none;
    background: #f3f3f3;
    border-bottom: 1px solid #1B2F59;
    width: 338px; /* 400 (#container) - 40 (li margins) -  10 (span paddings) - 20 (input paddings) - 2 (input borders) */
    font-size: 1em;
    outline: 0; /* remove webkit focus styles */
    transition: all 0.4s;
    color: #1B2F59;
}

.inputs_small:focus {
    border-bottom: 1px solid #61b884;
}

.input_smaller {
    width: 200px;
    display: inline;
    margin: 0;
}
