.panel {
    padding: 5px;
    background: var(--panel-bg);
    border: 1px solid var(--border-color);
}

header {
    border-style: none none solid none !important;
    padding: 2px !important;
}

footer {
    border-style: solid none none none !important;
}
