/*
   Main styles file for whole APP
*/


/* Application */
body {
    margin:0;
    background: #eeeeee;
    color: #888888;
    font-family:  "Raleway", "Lato", sans-serif;
}

::selection {
    background: transparent;
}

.center{
    text-align:center;
}

.right{
    text-align:right;
}

.padding25{
    padding: 25px;
}

/* Side navigation */
.opennav {
    vertical-align: middle;
    font-size:25px;
}

.opennav:hover {
    color: #f88900;
    vertical-align: middle;
    font-size:25px;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    padding-top: 60px;
    width: 0;
    height: 100%;
    border-right: 2px solid #f88900;
    background-color: #fefefe;
    color: #888888;
    transition: 0.5s;
}

.sidenav a {
    display: block;
    padding: 8px 8px 8px 32px;
    color: #888888;
    text-decoration: none;
    font-size: 1.3em;
    transition: all 0.4s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f88900;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 36px;
}

#sidenavIMG{
    margin-top: 100px;
    opacity:0;
    transition: all 0.4s;
    transition-delay: 0.5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#darkContainer{
    position: fixed;
    z-index: -1;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    transition: all 1.4s;
}

#about{
    position:absolute;
    top: 650px;
}

/* Header */
#topHeader{
    position: relative;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #c4cddb;
    border-top: none;
    border-bottom-color: #bfc9dc;
    background: #fefefe;
    box-shadow: 0 1px 1px #ccc;
    color: #0d1006;
}

/* Footer */
#walletFooter{
    position: absolute;
    bottom:1px;
    float:left;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    left:0;
    right:0;
    height:19px;
    border: 1px solid #c4cddb;
    border-top-color: #bfc9dc;
    border-bottom: none;
    background: #fefefe;
    box-shadow: 0 1px 1px #ccc;
    color: #888888;
}

/* Titles */
.sectionTitle{
    margin-bottom: 10px;
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #f88900;
    color: #888888;
    font-size: 1.1em;
    transition: all 0.4s;
}

/* Forms */
.buttons{
    padding: 8px 15px;
    width: 32%;
    outline: none;
    background-color: #f88900;
    color: #fefefe;
    font-size: 1em;
    transition: all 0.2s;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(90deg,
    rgba(255, 255, 255, .1) 0%,
    transparent 0%,
    transparent 50%,
    rgba(255, 255, 255, .1) 50%,
    rgba(255, 255, 255, .1) 100%,
    transparent 100%,
    transparent);
    border: 1px solid #f88900;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #aaa;
}

.buttons:hover {
    border: 1px #f88900 solid;
    background-color: transparent;
    color: #f88900;
}

.buttons:active {
    border: 1px #f88900 solid;
    background-color: transparent;
    color: #f88900;
}

.refreshButton{
    padding: 8px 15px;
    width: 10%;
    margin-left: 37%;
}


.wallet_inputs{
    margin-left: 5%;
    padding: 10px 10px;
    width: 85%;
    outline: 0;
    border: none;
    color: #888888;
    font-size: 1em;
    border-bottom: 1px solid #888888;
    transition: all 0.4s;
}



.wallet_inputs:focus {
    border:none;
    border-bottom: 3px solid #f88900;
}

.dialog{
    background-color: #fefefe;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    padding: 5px;
}

#aboutDialog {
    position: absolute;
    z-index: -1;
    background-color: #fefefe;
    left: 162px;
    width: 700px;
    height: 250px;
    top:170px;
    opacity:0;
    transition: 0.5s;
}

.closeAddWalletDialog {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    color:#888888;
    text-decoration: none;
}


.closeAddWalletDialog:hover {
    color:#f88900;
}

