body {
    font-family:  "Raleway", "Lato", sans-serif;
    color: #0d1006;
    background: #edf1f4;
    margin:0;
}
/*Orange: F88900
Light Grey: CCB18E
Dark Brown: 0D1006*/

.opennav {
    font-size:25px;
    vertical-align: middle;
}

.opennav:hover {
    font-size:25px;
    vertical-align: middle;
    color: #f88900;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #888888;
    border-right: 2px solid #f88900;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #888888;
    display: block;
    transition: all 0.4s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f88900;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidenavIMG{
    opacity:0;
    margin-top: 100px;
    transition: all 0.4s;
    transition-delay: 0.5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

div.leftWallet{
    width: 48.2%;
    float: left;
    position: relative;
    height: 600px;
    font-size: 1.1em;
    color: #888888;
    background: #fefefe;
    padding: 5px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;

}

div.rightTxHistory{
    padding: 5px 5px;
    background: #fefefe;
    margin: 5px 5px 5px auto;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
    width:  48%;
    height: 600px;
    float: right;
    color: #0d1006;
}

#topHeader{
    padding: 5px;
    background: #fefefe;
    margin: 0 auto;
    border: 1px solid #c4cddb;
    /*border-top-color: #d3dbde;*/
    border-top: none;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
    color: #0d1006;
}

#walletFooter{
    padding: 5px;
    background: #fefefe;
    /*margin: 0;*/
    border: 1px solid #c4cddb;
    border-bottom: none;
    border-top-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
    height:29px;
    margin: 0 auto;
    width:98.9%;
    float:left;
    color: #0d1006;
}


.sectionTitle{
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #f88900;
    font-size: 1.1em;
    transition: all 0.4s;
    color: #888888;
    margin-bottom: 10px;
}


.buttons{
    width: 32%;
    background-color: #f88900;
    border: 1px #fefefe solid;
    color: #fefefe;
    font-size: 1em;
    padding: 8px 15px;
    outline: none;
    transition: all 0.2s;
}

.buttons:hover {
    border-radius: 2px;
    background-color: transparent;
    border: 1px #f88900 solid;
    color: #f88900;
}

.buttons:active {
    border-radius: 2px;
    background-color: transparent;
    border: 1px #f88900 solid;
    color: #f88900;
}

.sectionButton{
    /*width: 25%;*/
    background-color: #f88900;
    border: 1px #fefefe solid;
    color: #fefefe;
    font-size: 0.8em;
    padding: 4px 6px;
    /*margin-left:222px;*/
    outline: none;
    transition: all 0.2s;
}

.addWalletButton{
    width: 18%;
    background-color: #f88900;
    border: 1px #fefefe solid;
    color: #fefefe;
    font-size: 0.8em;
    padding: 4px 6px;
    outline: none;
    transition: all 0.2s;
}

.balancesButtonHide{
    width: 30%;
    background-color: #f82000;
    border: 1px #fefefe solid;
    color: #fefefe;
    font-size: 0.8em;
    padding: 4px 6px;
    outline: none;
    transition: all 0.2s;

}

.balancesButtonHide:hover{
    border-radius: 2px;
    background-color: transparent;
    border: 1px #f82000 solid;
    color: #f82000;
}

.balancesButtonShow{
    width: 30%;
    background-color: #00a820;
    border: 1px #fefefe solid;
    color: #fefefe;
    font-size: 0.8em;
    padding: 4px 6px;
    outline: none;
    transition: all 0.2s;
}


.balancesButtonShow:hover{
    border-radius: 2px;
    background-color: transparent;
    border: 1px #00a820 solid;
    color: #00a820;
}


.sendButton{
    margin: 15px;
}



.wallet_inputs{
    padding: 10px 10px;
    margin-left: 5%;
    border: none;
    border-bottom: 1px solid #888888;
    width: 85%; /* 400 (#container) - 40 (li margins) -  10 (span paddings) - 20 (input paddings) - 2 (input borders) */
    font-size: 1em;
    outline: 0; /* remove webkit focus styles */
    transition: all 0.4s;
    color: #888888;
}

.wallet_inputs:focus {
    /*width: 318px;*/
    /*padding: 15px 15px;*/
    border:none;
    border-bottom: 3px solid #f88900;
}

.wallet_select {
    outline:none;
    background: #fefefe;
    -webkit-appearance: none;
}

.wallet_select * {
    outline:none;
    background: #fefefe;
    -webkit-appearance: none;
}

.wallet_select *:hover {
    outline:none;
    background: #f88900;
    -webkit-appearance: none;
}

.wallet_labels{
    width:10%;
}

.center{
    text-align:center;
}

.right{
    text-align:right;
}

.rightTxHistoryTitle{
    padding: 12px 15px;
    border: none;
    border-bottom: 1px solid #f88900;
    font-size: 1.3em;
    outline: 0; /* remove webkit focus styles */
    transition: all 0.4s;
    color: #888888;
}

#containerLeftWallet {
    #padding: 10px 10px;
    background: transparent;
    margin: 0 auto;
    padding:5px;
    position: relative;
}


#darkContainer{
    background-color: #000000;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    position: fixed;
    z-index: -1;
    opacity: 0;
    transition: all 1.4s;
}

#about{
    margin-top:80px;
}

/* Messenger*/
#conversationContainer{
    width: 70%;
    height: 90%;
    float: left;
    font-size: 1.1em;
    color: #888888;
    padding: 5px 5px;
}

#ConversationContainerContact{
    padding: 10px 10px;
    background: #fefefe;
    margin: 0 auto;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
}


#conversationContainerMessages {
    padding: 10px 10px;
    background: #fefefe;
    margin: 0 auto;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
}

#conversationContainerForm {
    padding: 10px 10px;
    background: #fefefe;
    margin: 5px auto 0;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
}

.ConversationContainerMessagesClass {
    padding: 10px 10px;
    background: #fefefe;
    margin: 0 auto;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
}


#contactsContainer{
    padding: 5px 5px;
    background: #fefefe;
    margin: 5px 5px 5px auto;
    border: 1px solid #c4cddb;
    border-top-color: #d3dbde;
    border-bottom-color: #bfc9dc;
    box-shadow: 0 1px 1px #ccc;
    position: relative;
    width: 27%;
    height: 630px;
    float: right;
    color: #0d1006;
}

#walletList{
    padding:5px;
    font-size: 0.9em;
}

.walletListItem {
    padding: 5px;
}

.walletListItemAddress {
    width:70%;
    display:inline-block;
}

.walletListItemBalance{
    width:28%;
    text-align: right;
    display:inline-block;
}

.walletListItemTitle{
    color: #f88900;
    font-size: 1.1em;
    font-weight: 800;
}

.walletListItemOdd{
    background: #dddddd;
}
