@font-face {
    font-family: "monospace";
    src: url(NotoSansMono-Regular.ttf);
}
@font-face {
    font-family: "FontAwesome";
    src: url(fontawesome-webfont.eot);
}

/* include padding and border in width/height */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* fill whole viewport */
body {
    margin: 0;
    height: 100vh;
}

/* util */
.hidden {
    display: none !important;
}

/* main look and feel */

:root {
    --arizen-fg: #f88900;
    --panel-bg: #fefefe;
    --border-color: #c4cddb;
    --money-negative: #880000;
    --money-positive: #00a820;
}

body {
    /*color: #888888;*/
    color: #666666;
    background: #eeeeee;
    font-family: 'Raleway', 'Lato', sans-serif;
}

div {
    border-color: var(--arizen-fg); /* TODO */
}

button {
    font: inherit;
    outline: none;
    color: white;
    background: var(--arizen-fg);
    border: 2px solid var(--arizen-fg);
    border-radius: 2px;
}

.panel {
    padding: 5px;
    background: var(--panel-bg);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 1px #ccc;
}

header {
    border-style: none none solid none !important;
    padding: 2px !important;
}

footer {
    border-style: solid none none none !important;
}
