/* layout
   Do not add colors, paddings, margins, etc. here. */

body {
    display: grid !important;
    grid-gap: 5px;
    grid-template-rows: min-content auto 30px;
    grid-template-columns: minmax(500px,  max-content) auto;
    grid-template-areas:
        "header header"
        "walletOps transactions"
        "statusLine statusLine";
}


/* Header */

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
}
header > *:nth-child(1) {
    justify-self: start;
}
header > *:nth-child(2) {
    justify-self: center;
    align-self: center;
}
header > *:nth-child(3) {
    justify-self: end;
}
.headerCenter > :not(:first-child) {
    margin-left: 5px;
}
.headerCenter {
    display: flex;
    align-items: center;
}
.headerCenter img {
    width: 15px;
    display: inline-block;
}
.arizenTitle {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}


/* Wallet operations */

.walletOps {
    grid-area: walletOps;
    display: grid;
    grid-template-rows: max-content auto;
    margin-left: 5px;
}
.walletOpsTabs {
    display: flex;
    justify-content: center;
}
.walletOpsTabs > :not(:first-child) {
    margin-left: 5px;
}
.walletOpsTabs > button {
    outline: none;
    font: inherit;
    font-size: 120%;
    font-weight: bold;
    padding: 4px 8px;
    color: white;
    background: var(--arizen-fg);
    border: 2px solid var(--arizen-fg);
    border-radius: 5px;
}
.walletOpsTabs > button[selected] {
    background: inherit;
    color: inherit;
}

.tabContent {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.tabContentHeader {
    padding: 0 5px 5px 5px;
    border-bottom: 1px solid var(--arizen-fg);
    margin-bottom: 5px;
}
.tabContentHeaderLabel {
    font-size: 120%;
}
.tabContentBody {
    height: -webkit-fill-available;
    overflow: auto;
    padding: 5px;
}

.walletOverviewControl {
    display: flex;
    align-items: center;
}
.walletOverviewControl > *:first-child {
    flex-grow: 2;
}
.walletOverviewControl > button:not(:first-child) {
    margin-left: 5px;
}

#addrList {
    overflow: auto;
    max-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#addrList > :not(:first-child) {
    margin-top: 5px;
}
#addrList > :nth-child(odd) {
    background: #eeeeee;
}

/* Addresses */

.addrItem {
    flex-shrink: 0;
    display: flex;
    padding: 4px;
}
.addrInfo {
    flex-grow: 2;
}
.addrControl {
    display: flex;
    align-items: flex-start;
    margin-left: 8px;
}
.addrBalance {
    float: right;
    font-size: 110%;
}
.addrBalanceAmount {
    font-weight: bolder;
}
.addrBalancePositive {
    color: var(--money-positive);
}
.addrText {
    font-family: 'monospace';
}
.addrControlButton {
    border: none;
    margin-left: 4px;
    padding: 3px;
    font-size: 120%;
    color: white;
    border-radius: 10%;
}
.addrControlButton:disabled {
    background: gray;
}
.addrDepositButton {
    background: var(--money-positive);
}
.addrWithdrawButton {
    background: var(--money-negative);
}

/* Deposit/Withdraw */

.depositBody, .withdrawBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.depositBody  > *:not(:first-child),
.withdrawBody > *:not(:first-child) {
    margin-top: 10px;
}
.depositHelp, .withdrawHelp {
    text-align: center;
}
.depositForm, .withdrawForm {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    align-self: stretch;
}
#depositToAddr, #withdrawFromAddr, #withdrawToAddr {
    font-family: 'monospace';
}
#depositMsg, #withdrawMsg {
    align-self: flex-start;
    color: red;
}

#withdrawButton {
    font-weight: bold;
    flex-shrink: 0;
}
.withdrawStatusMessage {
    align-self: flex-start;
}
#withdrawStatusTitle {
    font-weight: bold;
    font-size: 110%;
    color: green;
}
.withdrawStatusBad {
    color: red !important;
}

/* Trasactions */

.txPanel {
    grid-area: transactions;
    display: grid;
    grid-template-rows: max-content auto;

    margin-right: 5px;
}

.txPanelHeader {
    justify-self: center;
    align-self: center;
    padding: 10px;
    font-size: 130%;
}

#txList {
    overflow: auto;
    max-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#txList > *:not(:first-child) {
    margin-top: 10px;
}

.txItem {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid none solid none;
    border-width: 1px;
    border-color: var(--arizen-fg);
    margin: 0 10px 0 10px;
}
.txDate, .txBlock, .txId {
    color: var(--arizen-fg);
}
.txId {
    word-break: break-all;
    font-family: 'monospace';
}
.txBalance {
    font-size: 160%;
}
.txBalancePositive {
    color: var(--money-positive);
}
.txBalanceNegative {
    color: var(--money-negative);
}
.txAddrs {
    font-family: 'monospace';
    display: flex;
    flex-direction: column;
}
.txVin {
    color: var(--money-negative);
}
.txVout {
    color: var(--money-positive);
}
@keyframes txItemNew {
    from {
        background-color: rgba(165, 255, 126, 1.0);
    }
    to {
        background-color: initial;
    }
}
.txItemNew {
    animation: txItemNew 2s;
}

/* Status line */

.statusLine {
    grid-area: statusLine;
}

#totalBalanceAmount {
    font-weight: bolder;
}
