/* layout
   Do not add colors, paddings, margins, etc. here. */

body {
    display: grid !important;
    grid-gap: 5px;
    grid-template-rows: 30px auto 30px;
    grid-template-columns: 500px auto;
    grid-template-areas:
        "header header"
        "walletOps transactions"
        "statusLine statusLine";
}


/* Header */

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
header > *:nth-child(1) {
    justify-self: start;
}
header > *:nth-child(2) {
    justify-self: center;
}
header > *:nth-child(3) {
    justify-self: end;
}


/* Wallet operations */

.walletOps {
    grid-area: walletOps;
    display: grid;
    grid-template-rows: max-content auto;
    margin-left: 5px;
}
.walletOpsTabs {
    display: flex;
    justify-content: center;
}
.walletOpsContent {
    max-height: -webkit-fill-available;
    margin-top: 5px;
}

.walletOverview {
    display: grid;
    grid-template-rows: max-content 1fr;
}
.walletOverviewControl {
    display: flex;
    align-items: center;

    padding: 0 5px 5px 5px;
    border-bottom: 1px solid var(--arizen-fg);
}
/* label, let it grow and push the buttons to the right */
.walletOverviewControl > *:first-child {
    flex-grow: 2;
}
.walletOverviewLabel {
    font-size: 120%;
}
#addrList {
    overflow: auto;
    max-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
}
#addrList > *:not(:first-child) {
    margin-top: 10px;
}

/* Addresses */

.addrItem {
    flex-shrink: 0;
}
.addrBalance {
    float: right;
}
.addrBalanceAmount {
    font-weight: bolder;
}
.addrBalancePositive {
    color: #00a820;
}
.addrText {
    word-break: break-all;
    font-family: 'monospace';
}

/* Trasactions */

.txPanel {
    grid-area: transactions;
    display: grid;
    grid-template-rows: max-content auto;

    margin-right: 5px;
}

.txPanelHeader {
    justify-self: center;
    align-self: center;
    padding: 10px;
    font-size: 130%;
}

#txList {
    overflow: auto;
    max-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#txList > *:not(:first-child) {
    margin-top: 10px;
}

.txItem {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid none solid none;
    border-width: 1px;
    border-color: var(--arizen-fg);
    margin: 0 10px 0 10px;
}
.txDate, .txBlock, .txId {
    color: var(--arizen-fg);
}
.txId {
    word-break: break-all;
    font-family: 'monospace';
}
.txBalance {
    font-size: 160%;
}
.txBalancePositive {
    color: #00a820;
}
.txBalancePositive ::before {
    content: "+ ";
}
.txBalanceNegative {
    color: #880000;
}
.txBalanceNegative ::before {
    content: "- ";
}

.ccyAmountZen ::after {
    content: " ZEN";
}


/* Status line */

.statusLine {
    grid-area: statusLine;
}

#totalBalanceAmount {
    font-weight: bolder;
}
