body {
    font-family:  "Raleway", "Lato", sans-serif;
    color: #0d1006;
    background-color: #ffffff;
}
/*Orange: F88900
Light Grey: CCB18E
Dark Brown: 0D1006*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d1006;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #ccb18e;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ccb18e;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

div.leftWallet{
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*border: 1px solid #000;*/
    width: 50%;
    height: 90%;
    float: left;
}

div.rightTxHistory{
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*border: 1px solid #000;*/
    width: 50%;
    height: 90%;
    float: right;
}

dif.header{
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*border: 1px solid #000;*/
    width: 100%;
    height: 10%;
    float: top;
}

#button1{
    width: 49.5%;
    height: 40px;
    font-size: 25px;
}

#button2{
    width: 49.5%;
    height: 40px;
    font-size: 25px;
}

#container{
    text-align: center;
}