body {
    font-family:  "Raleway", "Lato", sans-serif;
    color: #0d1006;
    background-color: #ffffff;
    margin:0;
}
/*Orange: F88900
Light Grey: CCB18E
Dark Brown: 0D1006*/

.opennav {
    font-size:25px;
    vertical-align: middle;
}

.opennav:hover {
    font-size:25px;
    vertical-align: middle;
    color: #f88900;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d1006;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #ccb18e;
    border-right: 2px solid #f88900;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ccb18e;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

div.leftWallet{
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*border: 1px solid #000;*/
    width: 50%;
    height: 90%;
    float: left;
}

div.rightTxHistory{
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*border: 1px solid #000;*/
    width: 49.5%;
    height: 630px;
    float: right;
    border-left: 2px dotted #ccb18e;
    color: #0d1006;
}

#topHeader{
    padding: 0 0 5px;
}

.buttons{
    width: 49.5%;
    height: 50px;
    font-size: 25px;
    color: #ccb18e;
    background-color: #0d1006;
    border: 1px solid #0d1006;
}

.buttons:hover {
    border: 1px solid #f88900;
    color: #f88900;
}

.wallet_inputs{
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #888888;
    /*width: 328px; /* 400 (#container) - 40 (li margins) -  10 (span paddings) - 20 (input paddings) - 2 (input borders) */
    font-size: 1.3em;
    outline: 0; /* remove webkit focus styles */
    transition: all 0.4s;
    color: #888888;
}

.wallet_inputs:focus {
    /*width: 318px;*/
    padding: 15px 15px;
    border:none;
    border-bottom: 3px solid #f88900;
}

.wallet_labels{
    width:10%;
}

#container{
    text-align: center;
}