body {
    font-family: "Lato", sans-serif;
    color: #F88900;
    background-color: #818181;
}
/*Orange: F88900
Light Grey: CCB18E
Dark Brown: 0D1006*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #F88900;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

div.leftWallet{
    width: 50%;
    height: auto;
    float: left;
}

div.rightTxHistory{
    width: 50%;
    height: auto;
    float: right;
}

dif.header{
    width: 100%;
    height: 10%;
    float: top;
    border-bottom: 1px solid #818181;
}